// Colors
$primary-color: #0077FF;
$bg-color: #F0F7FF;
$text-color: #333333;
$light-text-color: #8A8A8A;


// Colors Dark
$primary-color-dark: #0077FF;
$bg-color-dark: #0D0D0D;
$bg-color-lighter-dark: #141414;
$text-color-dark: #D0CECE;
