// Mixins

@mixin flexible($display, $direction, $justify, $align: null, $gap : null){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

/* Media Queries */

@mixin media-sm {
    @media (min-width: 576px) { @content; }
}
@mixin media-md {
    @media (min-width: 768px) { @content; }
}
@mixin media-lg {
    @media (min-width: 992px) { @content; }
}
@mixin media-xl {
    @media (min-width: 1200px) { @content; }
}